# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build Output (Vite & Cloudflare)
dist
dist-ssr
.wrangler

# System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables (Crucial for security)
.env
.env.*
!.env.example

# Testing
coverage
/cypress/videos/
/cypress/screenshots/